/* NCEA GPA Calculator External Stylesheet */

* {
    background-color: #272822;
    color: #f8f8f2;
    font-family: Poppins;
}

QLabel#title {
    font-size: 25pt;
    font-family: Antic;
}

QLabel#gpa_display {
    font-size: 18pt;
}

QLabel#input_title {
    font-size: 12pt;
}

QLineEdit#input_box {
    border: 3px solid #2cde85;
    border-radius: 10px;
    font-size: 14pt;
}

QPushButton {
    font-size: 10pt;
    border: 3px solid #2cde85;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #2cde85;
    border: 5px solid white;
}

QPushButton#save {
    background-color: #2cde85;
    border: 5px solid white;
}

QPushButton#load {
    background-color: #2cde85;
    border: 5px solid white;
    padding: 5px;
}

QPushButton#save:hover, #load:hover {
    background-color: white;
    border: 5px solid #2cde85;
}